<!--BANNER INICIAL-->
<div class="banner_central"  alt= "Portfolio Index Banner Inicial - @phmarvinmeyer/Unplash"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "portfolio_index_banner.jpg" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Nuestra Propuesta</h1>
      <p>Conoce nuestos cursos de formacion</p>
    </div>
  </div>
</div>

<!--DESARROLLO PROFESIONAL-->
<div id=profesional></div>
<div class="banner_curso_profesional my-5">
  <div class="container">
    <div class= "text-center">
      <h1>Formacion Profesional</h1>
      <p>Conoce nuestos cursos de formacion profesional, orientados para tu empresa</p>
    </div>
  </div>
</div>

<!--DESARROLLO PROFESIONAL - CARDS-->
<div class="container ">
  <div class="cards">
    <%  @portfolios_profesional.each do |p| %>
      <div class="card-category-portfolio text-center" alt= "Portfolio ph: <%= p.url_image %>/Unsplash" style="background-image: linear-gradient(rgba(51,60,135,0.3), rgba(51,60,135,0.9)), url(<%= image_path(p.url_image)%>)">
        <h3><%= p.name %></h3>
        <p><%= p.content %></p>
        <div class="btn-holder">
          <a class="btn btn-outline-success mb-2"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=<%= p.name %>%20-%20Quiero%20mi%20programa">Pedi tu programa</a>       
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--CONSULTORIA-->
<div id="consultoria"></div>
  <div class="banner_curso_profesional my-5">
    <div class="container">
      <div class= "text-center">
        <h1>Consultoria</h1>
        <p>Conoce nuestra propuesta de consultoria integral</p>
      </div>
    </div>
  </div>
</div>

<!--CONSULTORIA - CARDS-->
<div class="container mb-5 ">
  <div class="cards">
    <%  @portfolios_consultoria.each do |p| %>
      <div class="card-category-portfolio text-center" alt= "Portfolio ph: <%= p.url_image %>/Unsplash" style="background-image: linear-gradient(rgba(51,60,135,0.3), rgba(51,60,135,0.9)), url(<%= image_path(p.url_image)%>)">
        <h3><%= p.name %></h3>
        <p><%= p.content %></p>
        <div class="btn-holder">
          <a class="btn btn-outline-success mb-2"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=<%= p.name %>%20-%20Quiero%20mi%20programa">Pedi tu programa</a>       
        </div>
      </div>
    <% end %>
  </div>
</div>





