<div class="banner_central" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "GOPR0071.JPG" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Aprende a Bucear HOY</h1>
    </div>
  </div>
</div>

<h2 class= "container text-center my-5 new-text">Todos los niveles</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <%= image_tag "buceo.JPG", class:"card-img-top", alt: "Buceo" %> 
        <div class="card-body">
          <h5 class="card-title">Iniciales</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-primary"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Buceo%20Cursos">Inicia Hoy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <%= image_tag "buceo.JPG", class:"card-img-top", alt: "Buceo" %> 
        <div class="card-body">
          <h5 class="card-title">Especialidades</h5>
          <p class="card-text">Ya sos buzo certificado? Tenemos mas opciones para que sigas aprendiendo:</p>
          <ul>
            <li>Buceo Profundo</li>
            <li>Traje Seco</li>
            <li>Nitrox</li>
          </ul>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-primary"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Buceo%20Cursos">Nuestras especilidaes</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <%= image_tag "buceo.JPG", class:"card-img-top", alt: "Buceo" %> 
        <div class="card-body">
          <h5 class="card-title">Convertite en Profesional!</h5>
          <p class="card-text">Tu camino profesional, arranca aqui. Convertite en Divemaster, Assitant Instructor o Instructor de Primeros Auxilios.</p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-primary"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Buceo%20Pro">Empeza tu camino profesional</a>
        </div>
      </div>
    </div>
  </div>
  <h2 class= "container text-center my-5 new-text">Apasionate</h2>
  <div class="container video mt-5 text-center ">
    <%= video_tag "buceo.mp4", :size => "700x500", :controls => true %>
  </div>
</div>

<!--PA-->
<div class="jumbotron jumbotron-fluid mt-5 mb-5">
  <div class="container">
    <h1 class="display-4">Primeros Auxilios</h1>
    <p class="lead">Todo sobre el cuidado de las personas</p>
  </div>
</div>

<div id="pa"  class="container">

</div>



</div>