<div class="banner_central" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "coaching_unsplash_jamie_street.jpg" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Coaching</h1>
      <p>Participa de un proceso creativo y estimulante para conseguir todo aquello que tu quieres.</p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <p>
    El ser humano tiene un gran poder de adaptabilidad, tiene la capacidad de resolver situaciones realmente complejas en lugares y momentos inimaginables. De la misma forma en la que un buceador aprende a planificar sus inmersiones para alcanzar sus metas y entrena para la resolución inmediata de situaciones extremas, una persona en superficie puede enfrentar la misma adversidad, solo que las alternativas son más amplias, allí el aire nunca se acaba.
  </p>
  <p>
    El coaching  es un método de aprendizaje transformacional, colaborativo que está orientado a resultados, este  proceso conversacional busca apoyar tu desarrollo a nivel personal o profesional para que puedas alcanzar metas especificas.
    Soy Flor Cernuschi  y voy ayudarte a descubrir tu potencial y alcanzar con éxito tus metas.
  </p>

</div>

<div class="container d-flex justify-content-between mb-5">
  <div class="card" style="width: 18rem;">
    <%= link_to image_tag("coaching_unsplash_daniel-thomas.jpg", alt:"Consultoria", class:"rounded imagen-coach", :border=>0) %>
    <div class="card-body text-center">
      <h5 class="card-title">Emprendedres</h5>
      <p class="card-text">Aprende a transitar este camino de forma eficiente, superar tus miedos, enfocándote en lo realmente importa superando los momentos más complicados y disfrutando del éxito.</p>
    </div>
    <div class="d-flex align-items-end justify-content-center mb-2">
      <a class="btn btn-outline-dark"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Coaching%20Emprendedores%20-%20Informacion">Reserva tu sesion</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <%= link_to image_tag("coaching_unsplash_charles-forerunner.jpeg", alt:"Consultoria", class:"rounded imagen-coach", :border=>0) %>
    <div class="card-body text-center">
      <h5 class="card-title">Empresarios</h5>
      <p class="card-text">Que quieren empezar una nueva etapa en su carrera o negocio, gestionando de manera más efectiva y vital todo su conocimiento y experiencia. Aprende a disfrutar el proceso transformacional en armonía con tu ecosistema actual.</p>
    </div>
    <div class="d-flex align-items-end justify-content-center mb-2">
      <a class="btn btn-outline-dark"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Coaching%20Empresarios%20-%20Informacion">Reserva tu sesion</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <%= link_to image_tag("coaching_unsplash_element5-digital.jpg", alt:"Consultoria", class:"rounded imagen-coach", :border=>0) %>
    <div class="card-body text-center">
      <h5 class="card-title">Estudiantes/Universitarios</h5>
      <p class="card-text">Aprende a visualizarte y concentrarte en lo que te apasiona, transita el proceso de aprendizaje adquiriendo metodologías que te ayudaran también en el ámbito laboral, aprende a gestionar emociones y planifica tu próximo paso al éxito.</p>
    </div>
    <div class="d-flex align-items-end justify-content-center mb-2">
      <a class="btn btn-outline-dark"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Coaching%20Estudiantes%20-%20Informacion">Reserva tu sesion</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <%= link_to image_tag("coaching_unsplashkira-auf-der-heide.jpg", alt:"Consultoria", class:"rounded imagen-coach", :border=>0) %>
    <div class="card-body text-center">
      <h5 class="card-title">Viajeros</h5>
      <p class="card-text">Aprende a despojarte de juicios y atrévete a romper paradigmas, redescubre tus herramientas y aprende a utilizarlas para convertirte e viajero de tiempo completo, te acompañare en el proceso para que dejes de soñar con hacerlo y lo conviertas en un plan listo para ejecutar.</p>
    </div>
    <div class="d-flex align-items-end justify-content-center mb-2">
      <a class="btn btn-outline-dark"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Coaching%20Viajeros%20-%20Informacion">Reserva tu sesion</a>
    </div>
  </div>

</div>

<div class="container mt-5">
  <h3>Nuestra metodología:</h3>

  <p>
  Un proceso de coaching se inicia con una entrevista inicial que sirve para definir en plan de acción, y en el que el coach y el cliente acuerdan el protocolo que se seguirá durante todo el plan. Un proceso de coaching se desarrolla en varias sesiones, durante las cuales el coachee toma consciencia de su forma de actuar. En las reuniones posteriores se trabaja en el desarrollo de soluciones o en el Plan de Acción. Por último, en la sesión final, se revisa todo el proceso y se verifica la ejecución de los objetivos inicialmente propuestos por el cliente.
  </p>
  <p>
  La cantidad de sesiones dependerá del desafío planteado en la primer entrevista, la duración aconsejada para cada una de las sesiones es de una hora, pero también dependerá del espacio requerido por el coachee.
  </p>
  <p>
  Un proceso normal puede llevar entre 6 y 8 sesiones que se dan en una espacialidad de 2 a 3 semanas. Las fechas de las sesiones se acuerdan entre el coach y cliente de manera flexible. En total todo el proceso puede durar entre 4 y 6 meses, aunque lo cierto es que empezaras a detectar cambios a partir de la primera sesión.
  </p>
</div>


