<!--BANNER-->
<div class="banner img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner2.jpg" %>')">
  <div class="container">
    <h1>Calimba</h1>
    <p>Profesionales en el camino</p>
    <p> 
      <span id="banner-typed-text"></span>
    </p>
    <a class="btn btn-outline-secondary"  target="_blank" href="https://api.whatsapp.com/send?phone=54911533842626">WhatsApp</a>
  </div>
</div>

<!--SECTION-NOSOTRAS-->
<div id="aboutCalimba">
  <div class="container my-5">
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-lg-6 leftspace text-center mb-4">
        <h2>Sobre Calimba</h2>
        <div class=" d-flex justify-content-center mb-3">
          <%= link_to image_tag("gise_profile", class: "avatar-large mr-2", alt: "Gise Profile"), "https://www.linkedin.com/in/gares/", target: :_blank %>
          <%= link_to image_tag("flor_profile", class: "avatar-large", alt: "FlorProfile"), "https://www.linkedin.com/in/cernuschiflorencia/",target: :_blank %>
        </div>
        <p> <span id="aboutus-typed-text"></span> </p>
      </div>

      <div class="col-12 col-lg-6 text-center">
        <p>Calimba es un proyecto con el cual hemos comenzado a recorrer el continente americano impartiendo programas de educación continua, brindando servicios de consultoría, mentoring y coaching tanto a particulares como empresas.
        Nuestro porfolio contiene más de veinte programas customizados según la necesidad del usuario.
        Nuestra misión es ayudarte en tu desarrollo profesional, contribuir con el crecimiento de tu negocio y acompañarte a descubrir un nuevo mundo de profesionales en el camino. </p>
        <p><strong>Calimba está de paso</strong>, pero deja huellas.</p>
      </div>

    </div>

  </div>    
</div>

<!--OUR SERVICES / PORTFOLIO-->
<div class="container my-5">
  <div class="text-center mb-5">
    <h2>Conoce nuestra propuesta</h2>
  </div>

  <div class="row d-flex justify-content-around alert-text">
    <div class="col-12 col-lg-3 card-trip mr-2 mb-2">
      <figure>
        <%= link_to image_tag("unsplash_chris-montgomery.jpg", alt:"Formacion Profesional", class:"img", :border=>0), portfolios_path %>
        <div class="card-trip-infos">
          <div>
            <h5 class= "m-2 text-center"><strong>Formación Profesional</strong></h5>
            <p class ="text-center">Sabemos que los programas de capacitación a colaboradores son muy
            fructíferos para las compañías, permiten afianzar grupos, detectar líderes, generan competencia
            y facilitan la gestión de cambio.</p>
          </div>
        </div>
        <figcaption>ph:@ChrisMontgomery/Unsplash</figcaption>
      </figure>
    </div>

    <div class="col-12 col-lg-3 card-trip mr-2 mb-2">
      <figure>
        <%= link_to image_tag("consultoria.jpeg", alt:"Consultoria", class:"img", :border=>0),   portfolios_path(anchor: "consultoria") %>
        <div class="card-trip-infos">
          <div>
            <h5 class= "m-2 text-center"> <strong>Programa de Consultoría</strong></h5>
            <p class ="text-center">A partir de las necesidades de la gerencia y una serie de entrevistas in situ la mejora de procesos
            se trata de identificar y abordar las ineficiencias que desperdician recursos/capital y añaden
            costos.</p>
          </div>
        </div>
        <figcaption>ph:@combicalimba</figcaption>
      </figure>
    </div>

    <div class="col-12 col-lg-3 card-trip mr-2 mb-2">
      <figure>
        <%= link_to image_tag("abouts_profile.png", alt:"Coaching", class:"img", :border=>0), :action => 'coaching', :controller => 'pages' %>
        <div class="card-trip-infos">
          <div>
            <h5 class= "m-2 text-center"><strong>Coaching Empresarial</strong></h5>
            <p class ="text-center">El coach te ayuda a ver su entorno, abre su visión y le ayuda a pensar en tus habilidades para
            desarrollar. Un valioso compañero externo que camina a su lado por un tiempo bien definido
            para que su personal encuentre nuevas soluciones.</p>
          </div>
        </div>
        <figcaption>ph:@andreaferreira</figcaption>
      </figure>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <a class="btn btn-outline-info btn-lg mr-3"  target="_blank" href="https://api.whatsapp.com/send?phone=54911533842626">Empresa</a>
    <a class="btn btn-outline-warning btn-lg"  target="_blank" href="https://api.whatsapp.com/send?phone=54911533842626">Particular</a>
  </div>
</div>

<!--BANNER BUCEADNO-->
<div class="banner_central" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "camino.jpg" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Calimba</h1>
      <p>Buceando por America</p>
        <%= link_to "Conoce nuestro recorrido", proyecto_path, :class => "btn btn-outline-secondary" %>
    </div>
  </div>
</div>

<!--CALIMBA BUCEAND POR AMERICA>-->
<div class="container my-5">
  <div class="text-center mb-5">
    <h2>Descubre un nuevo mundo</h2>
    <p>Certificaciones a <strong>nivel internacional</strong></p>
  </div>

  <div class="row d-flex justify-content-between text-center mb-5">
    <div class="col-12 col-lg-3 card-category d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= image_path "profile_buceo.png" %>')">
      <p class="text">
        <%= link_to "Buceo", buceo_path %> 
      </p>
    </div>

    <div class="col-12 col-lg-3 card-category d-flex flex-column"" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= image_path "pa_profile.png" %>')">
      <p  class="text" >
        <%= link_to " Instructor Primeros Auxilios", buceo_path(anchor: "pa") %> 
      </p>
    </div>
    <div class="col-12 col-lg-3 card-category d-flex flex-column"" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= image_path "profile_ma.png" %>')">
      <p  class="text" > 
        <%= link_to "Cuidado del Medio Ambiente", buceo_path(anchor: "pa") %> 
      </p>
    </div>
  </div>
</div>



