<!--BANNER INICIAL-->
<div class="banner_central" alt= "Proyecto Banner Inicial - ph:@andreaferreira" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "proyecto_banner_inicial_jphkl0" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Nuestro proyecto</h1>
      <p>Conoce nuestro viaje y porque emprendimos esta aventura!.</p>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container">
    <h2>Como comenzo este viaje...</h2>
    <h4 class="text-left">Buceando en Buenos Aires - Argentina</h4> 
    <div>
      <p>Iniciamos el camino Open Water Diver en Enero de 2016, ese mismo años realizamos el curso de Advanced Diver. Durante 2017 realizamos nuestro curso de Rescue Diver, EFR y Nitrox. 2018 nos recibió en febrero como Divemaster y completamos nuestras especialidades para en Noviembre de 2018 convertirnos en OWSI PADI de la mano de Federico Rozado Course Director 318181</p>
      <p>En paralelo, Flor realizo dos especialidades de la mano de TDI en buceo Tecnico:
        <ul>
          <li><i class="fas fa-angle-double-right"></i> SIDEMOUNT Diver</li>
          <li><i class="fas fa-angle-double-right"></i> FULLCAVE Diver</li>
        </ul>
      </p>
    </div>
    <div class="cards">
      <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_Inicial_CHECKOUT_OWD_yzgcyf" %>')"> 
        <div class="text"> 
          <p>Cordoba - Argentina Checkout OWD Ene 2016</p>
        </div> 
      </div>
      <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_Inicial_IE_OWSI_wp3isl" %>')"> 
        <div class="text"> 
          <p>Concordia - Argentina IE Nov 2018</p>
        </div> 
      </div>  
    </div>
  </div>
</div>

<div  style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-2.25,107.06 C149.99,150.00 547.96,159.38 500.00,49.98 L500.00,150.00 L-5.07,153.45 Z" style="stroke: none; fill: #005A8D;"></path></svg>
</div>


<!--CONOCENOS-->
<div class="banner-white">
  <div class="gallery-profile">
    <div>
      <%= cl_image_tag "undraw_Social_bio_re_0t9u_fvnd2a", class: "profile-imagen" %>
    </div>
    <div class = "flor">
      <h2>Flor</h2>
      <ul>
        <li><i class="fas fa-star"></i> Coaching Ontologico – ICF - Formacion.</li>
        <li><i class="fas fa-star"></i> RRPP y Comunicaciones.</li>
        <li><i class="fas fa-star"></i> Community manager and digital designer.</li>
        <li><i class="fas fa-star"></i> Especialista en Marketing Digital,  Diseño de Imagen de Marca y Conceptualización.</li>
        <li><i class="fas fa-star"></i> Diseño de Piezas, Packaging y Producto.</li>
        <li><i class="fas fa-star"></i> Instructora SDI OWSI# 27932 e Instructora PADI OWSI #414002.</li>
        <li><i class="fas fa-star"></i> Instructora First Response Training #27932 e Instructora EFR #414002.</li>
        <li><i class="fas fa-star"></i> Instructora de: Deep, Sidemount, Dry Suit, Solo DIver y Nitrox</li>
        </ul>
    </div>
    <div class = "gise">
      <h2>Gise</h2>
      <ul>
        <li><i class="fas fa-star"></i> Knowmad.</li>
        <li><i class="fas fa-star"></i> Full Stack Development – Lewagon BA.</li>
        <li><i class="fas fa-star"></i> Licenciada en Administración y sistemas – ITBA.</li>
        <li><i class="fas fa-star"></i> Magister en Dirección estratégica y tecnológica – ITBA.</li>
        <li><i class="fas fa-star"></i> Especialista en procesos de Negocios.</li>
        <li><i class="fas fa-star"></i> Instructora SDI OWSI# 27946 e Instructora PADI OWSI #414004.</li>
        <li><i class="fas fa-star"></i> Instructora First Response Training # 27946 e Instructora EFR #414004.</li>
        <li><i class="fas fa-star"></i> Instructora de Naufragios y Nitrox.</li>
      </ul>
    </div>
  </div>
</div>

<div class = "ondas banner-white">
  <div  style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-2.25,107.06 C149.99,150.00 547.96,159.38 500.00,49.98 L500.00,150.00 L-5.07,153.45 Z" style="stroke: none; fill: #005A8D;"></path></svg>
  </div>
</div>

<!--El Proyecto-->
<div class="container my-5">
  <h3 class="text-left">El proyecto nace con 3 objetivos basicos:</h3> 
  <div>
    <ol>
      <li>Llevar el buceo a toda Ámerica</li>
      <li>Impartir cursos de primeros auxilios</li>
      <li>Charlas de Medio Ambiente</li>
    </ol>
  </div>
  <h3 class="text-left">Quienes son los beneficiarios de nuestro proyecto:</h3> 
  <ul>
    <ol><strong>Personas con acceso limitado a herramientas de sanidad</strong>, talleres de primeros auxilios a docentes de escuela rural, grupos de vulnerabilidad y e interesados en aprender</ol>
    <ol><strong>Personas con movilidad reducida, hipoacusticos</strong>. Brindado una nueva oportunidad de sentirse completos.</ol>
    <ol><strong>Fuerzas Publicas</strong>. Charlas y revalidas a la fuerzas de seguridad</ol>
    <ol><strong>Divecenters:</strong> promoveremos el deporte contando los beneficios del mismo. Trabajo en conjunto para potenciar el divecenters y trabajando en especialidades que no tenga el centro</ol>
  </ul>
  <div class="cards">
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion3_comunidad_aslc7u" %>')"> 
      <div class="text"> 
        <p>Pto Madryn - Argentina Abril 2019</p>
      </div> 
    </div>
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion3_bomberos_gglqf2" %>')"> 
      <div class="text"> 
        <p>Mte Caseros - Argentina Agosto 2019</p>
      </div> 
    </div>  
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion3_niños_qhdiwx" %>')"> 
      <div class="text"> 
        <p>Cordoba - Argentina Julio 2019</p>
      </div> 
    </div>
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion3_empresas_hknbzs" %>')"> 
      <div class="text"> 
        <p>Chaco - Argentina Septiembre 2019</p>
      </div> 
    </div>  
  </div>
</div>


<div  style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-2.25,107.06 C149.99,150.00 547.96,159.38 500.00,49.98 L500.00,150.00 L-5.07,153.45 Z" style="stroke: none; fill: #005A8D;"></path></svg>
</div>

<!--GARLLERY-->
<div class="banner-white py-5">
  <h2 class= "pl-2">Conoce nuestro recorrido!!</h2>
  <div class="gallery-container">
    <p class= "text-center align-center"> <br>Después de haber conocido los cuatro continentes por tierra y agua, decidimos recorrer nuestro continente por tiempo completo en Kombi, no dejes de seguir nuestra aventura viajera en <strong><a href="https://www.instagram.com/combicalimbaok/" style = "color: black" target="_blank">@combicalimba</a></strong></p>
    <%  @portfolios_gallery.each do |p| %>
      <div class="gallery-item">
        <%= cl_image_tag p.photo.key, :class=>"gallery-img" %>
        <p class= "gallery-title"><%= p.content %></p>
      </div>
    <% end %>
  </div>
</div>


 <div class = "ondas banner-white">
  <div  style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-2.25,107.06 C149.99,150.00 547.96,159.38 500.00,49.98 L500.00,150.00 L-5.07,153.45 Z" style="stroke: none; fill: #005A8D;"></path></svg>
  </div>
</div>



<!--En Los Medios-->

<div class="container my-5 ">
  <h3 class="text-left">Calimba en los medios:</h3> 
  <p>Un resumen rapido de las notas que nos hicieron</p>
  <div class="cards">
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion_4_noticias_abc_rtrow1" %>')">
      <div class="text"> 
        <%= link_to "Piribebuy - Paraguay", "https://bit.ly/3CB0ovo", target: "_blank", alt: "Nota ABC" %>
      </div> 
    </div>
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion_4_noticias_mte_vhsvka" %>')">
      <div class="text"> 
        <%= link_to "Monte Caseros - Argentina", "https://bit.ly/3lDuKqs", target: "_blank", alt: "Nota MonteCaseros" %>
      </div> 
    </div>
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion_4_noticias_rdn_ztqx8u" %>')">
      <div class="text"> 
        <%= link_to "Asuncion - Paraguay", "https://bit.ly/3tWgmgN", target: "_blank", alt: "Nota RDN" %>
      </div>
    </div>
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion_4_noticias_santafe_bovyab" %>')">
      <div class="text"> 
        <%= link_to "Sunchales - Argentina", "https://bit.ly/3EBqvEp", target: "_blank", alt: "Nota RDN" %>
      </div> 
    </div>
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion_4_noticias_saenz_vxwzeq" %>')">
      <div class="text"> 
        <%= link_to "Saenz Peña- Argentina", "https://bit.ly/3zEh9UZ", target: "_blank", alt: "Nota RDN" %>
      </div> 
    </div>
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion_4_noticias_mte2_xbsxoq" %>')">
      <div class="text"> 
        <%= link_to "Corrientes - Argentina", "https://bit.ly/3kuDEHA", target: "_blank", alt: "Diario Online" %>
      </div>
    </div>
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion_4_noticias_mt3_xl6gna" %>')">
      <div class="text"> 
        <%= link_to "Saenz Peña- Argentina", "https://bit.ly/3ztRle7", target: "_blank", alt: "Diario Chaco" %>
      </div> 
    </div>
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_seccion_4_noticias_todas_ipg7ow" %>')">
      <div class="text"> 
        <%= link_to "Busqueda en Google", "https://bit.ly/3Atg6s3", target: "_blank", alt: "Resultado Google" %>
      </div> 
    </div>
  </div>
</div>

<div  style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-2.25,107.06 C149.99,150.00 547.96,159.38 500.00,49.98 L500.00,150.00 L-5.07,153.45 Z" style="stroke: none; fill: #005A8D;"></path></svg>
</div>

<!--Nuestros Logros-->
<div class = "banner-white pt-5">
  <div class="container">
    <h2>Nuestros Logros</h2>
    <div class="achivements">
      <div class="card card-hits text-center">
        <div class="card-body">
          <hit id="h2"><i class="fas fa-heartbeat"></i></hit>
          <p>Talleres de RCP</p>
          <ul>
            <li>a Bomberos</li>
            <li>la Comunidad</li>
            <li>y escuelas rurales</li>
          </ul>
        </div>
      </div>

      <div class="card card-hits text-center">
        <div class="card-body">
          <hit id="h3"><i class="fas fa-first-aid"></i></i></hit>
          <p>Primeros Auxilios</p>
          <ul>
            <li>a Empresas</li>
            <li>a Bomberos</li>
            <li>a la Comunidad</li>
          </ul>
        </div>
      </div>
      
      <div class="card card-hits text-center">
        <div class="card-body">
          <hit id="h4"><i class="fas fa-ambulance"></i></hit>
          <p>Proveedor de Oxigeno</p>
          <ul>
            <li>Revalida a</li>
            <li>Bomberos</li>
          </ul>
        </div>
      </div>
      
      <div class="card card-hits text-center">
        <div class="card-body">
          <hit id="h5"><i class="fas fa-virus"></i></hit>
          <p>Patogenos Areos</p>
          <ul>
            <li>Taller gratuito</li>
            <li>a la comunidad</li>
          </ul>
        </div>
      </div>

      <div class="card card-hits text-center">
        <div class="card-body">
          <hit id="h6"><i class="fas fa-water"></i></hit>
          <p>Buceo</p>
          <ul>
            <li>Nuevos OWD</li>
            <li>Mas AOWD</li>
            <li>Rescues</li>
          </ul>
        </div>
      </div>

      <div class="card card-hits text-center">
        <div class="card-body">
          <hit id="h7"><i class="fas fa-mask"></i></hit>
          <p>DSD</p>
          <ul>
            <li>En pileta</li>
            <li>En canteras</li>
          </ul>
        </div>
      </div>

      <div class="card card-hits text-center">
        <div class="card-body">
          <hit id="h8"><i class="fas fa-arrow-circle-up"></i></hit>
          <p>Especialidades</p>
          <ul>
            <li>Nitrox</li>
            <li>Solo</li>
            <li>T.Seco</li>
          </ul>
        </div>
      </div>

      <div class="card card-hits text-center to_grow">
        <div class="card-body">
          <hit id="h9"><i class="fas fa-glasses"></i></hit>
          <p>Consultoria</p>
          <ul>
            <li>Centros</li>
            <li>de Buceo</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div  style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-2.25,107.06 C149.99,150.00 547.96,159.38 500.00,49.98 L500.00,150.00 L-5.07,153.45 Z" style="stroke: none; fill: #005A8D;"></path></svg>
  </div>
</div>


