<div class="container mt-5">
  <h2>Conoce nuestro recorrido</h2>

  <div class="cards">
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "camino.jpg" %>')"> 
      <div class="text"> 
        <h4> Buenos Aires </h4>
      </div> 
    </div>  
  
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "camino.jpg" %>')"> 
      <div class="text"> 
        <h4> Buenos Aires </h4>
      </div> 
    </div>  

    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "camino.jpg" %>')"> 
      <div class="text"> 
        <h4> Buenos Aires </h4>
      </div> 
    </div>  

    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "camino.jpg" %>')"> 
      <div class="text"> 
        <h4> Buenos Aires </h4>
      </div> 
    </div>  

    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "camino.jpg" %>')"> 
      <div class="text"> 
        <h4> Buenos Aires </h4>
      </div> 
    </div>  
  </div>
</div>
