<!DOCTYPE html>
<html>
  <head>
    <title>Profesionales en el Camino</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Primary Meta Tags -->
    <meta name="title" content="Calimba  Recorriendo America">
    <meta name="description" content="Profesionales en el camino, cursos de capacitacion, gestion de empresas, desarrollo">

    <!--FACEBOOK-->
    <meta property="og:title" content="Calimba - Buceando por America">
    <meta property="og:image" content="banner.jpg">
    <meta property="og:description" content="Calimba Buceando por America, sumate a nuestra comunidad">
    <meta property="og:site_name" content="Profesionales en el Camino"/>

    <!-- FAVICON --> 
    <%= favicon_link_tag 'favicon-32x32.png'%>

    <!-- RESPONSIVE --> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      
    <!-- JS -->
    <!-- Este va contra el asset pipeline -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Este llama al archivo aplicationjs - es el archivo entry -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
