<!DOCTYPE html>
<html>
  <head>
    <!-- Primary Meta Tags -->
    <title>Profesionales en el Camino</title>
    <meta name="title" content="Calimba  Recorriendo America">
    <meta name="description" content="Profesionales en el camino, cursos de capacitacion, gestion de empresas, desarrollo">

    <!--FACEBOOK-->
    <meta property="og:title" content="Calimba - Buceando por America">
    <meta property="og:image" content="facebook-card.jpg">
    <meta property="og:description" content="Calimba Buceando por America, sumate a nuestra comunidad">
    <meta property="og:site_name" content="Profesionales en el Camino"/>

    <!-- FAVICON --> 
    <%= favicon_link_tag 'favicon-32x32.png'%>
  
    <!-- MEDIA --> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- OTROS -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
